body{
  background: url("https://45.media.tumblr.com/718919abfb6c03a3a1620a77aeaf2eb7/tumblr_nysgpbuipm1qjmwryo1_500.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  text-decoration: underline  wavy white;
}
i:hover{
  color: #fff;
  text-shadow: 0  0 10px #fff,
               0  0 20px  #fff,
               0  0 40px #fff;

}
#result{
  font-weight: bold;
  color: #fff;
  text-shadow: 0  0 10px #fff,
               0  0 20px  #fff,
               0  0 40px #fff;
}
input{
  height: 50px;
  width: 200px;
  border-radius: 40px;
  text-align: center;
  outline: none;
  font-weight: bold;
}
.boxed{
    border: 10px solid white;
    height: 30px;
    width: 200px;
    border-radius: 40px;
    text-align: center;
    outline: none;
    padding: 30px;
  }

.btn{
  height: 50px;
  width: 200px;
  border-radius: 40px;
  background-color: white !important;
  color:black !important;
  outline: none;
}
.btn1{
  height: 50px;
  width: 300px;
  border-radius: 40px;
  background-color: white !important;
  color:black !important;
  outline: none;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
